.remark-slide-content {
  background-color: white;
  border-top: 100px solid dimgray; /* change this */
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2;
  padding: 0em 2em 2em 2em;
}

@media only screen {
  html {
    font-size: calc(1.25*var(--base-font-size));
  }
}

.title-slide .inverse .remark-slide-content {
  background-color: white;
}

.inverse {
  background-color: dimgray; /* change this */
  text-shadow: none;
}

.clear{
  border-top: 0px solid white;
}

h1 {
  padding-top: -10px;
  padding-bottom: 10px;
  font-weight: normal;
  margin-top: -75px;
  margin-left: -00px;
  margin-bottom: 10px;
  color: white;
}

h2, h3, h4 {
  padding-top: -10px;
  padding-bottom: 00px;
  color: dimgray;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-top: 00px;
  margin-left: 00px;
  margin-bottom: 10px;
}

.remark-slide-content h1 {
  font-size: 44px;
}

.remark-slide-content h2 {
  font-size: 36px;
}

.remark-slide-content h3 {
  font-size: 28px;
}

.title-slide {
  background-color: white;
  border-top: 100px solid white;
}

.title-slide h1  {
  color: dimgray; /* change this */
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  text-shadow: none;
  margin-top: -20px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.title-slide h2  {
  color: darkgray; /* change this */
  font-size: 32px;
  font-weight: 300;
  text-align: left;
  text-shadow: none;
  margin-top: 00px;
  margin-left: 10px;
  margin-bottom: 00px;
  padding-top: 20px;
  padding-bottom: 00px;
}
.title-slide h3  {
  color: black; /* change this */
  font-size: 28px;
  font-weight: 300;
  text-align: left;
  text-shadow: none;
  margin-top: 00px;
  margin-left: 10px;
  margin-bottom: 00px;
  padding-top: 00px;
  padding-bottom: 00px;
}

hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: white; /* change this */
  color: dimgray;
  height: 1px;
}

.remark-slide-number {
  font-size: 13pt;
  color: dimgray;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 13pt;
  color: white;
  opacity: 1;
}


/* unvisited link */
a:link {
  color: coral;
}

/* visited link */
a:visited {
  color: coral;
}

/* mouse over link */
a:hover {
  color: coral;
}

/* selected link */
a:active {
  color: coral;
}

.left-30 {
  padding-top: 0;
  float: left;
  width: 27.5%;
}
.left-40 {
  padding-top: 0;
  float: left;
  width: 37.5%;
}
.left-50 {
  padding-top: 0;
  float: left;
  width: 47.5%;
}
.right-90 {
  padding-top: 0;
  float: right;
  width: 87.5%;
}
.right-70 {
  padding-top: 0;
  float: right;
  width: 67.5%;
}
.right-60 {
  padding-top: 0;
  float: right;
  width: 57.5%;
}
.right-50 {
  padding-top: 0;
  float: right;
  width: 47.5%;
}
